{% extends "layout.html" %}

{% set bodyId = "page-ideias" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% endblock %}

{% block content %}
<header>
    <a href="/">
        <img src="/logo.png" alt="Imagem da Logomarca">
    </a>
    <nav>
        <li><a href="/">Inicío</a></li>
        <li><a href="#" onclick="onOff()">Nova Ideia</a></li>
    </nav>
</header>

<section id="title">
    <p>Em exibição</p>
    <h1>Ideias</h1>
</section>

<main>
    <section id="ideas">
        {% include "allideas.html" %}
    </section>
</main>

<footer id="footer">
    Com ❤ <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a>
</footer>

{% endblock %}